@use "../../styles/mixins";

.banner{
    display: flex;
    align-items: center;
    flex-direction: column;
    color : var(--text-white);
    padding: 2rem 0;

    @include mixins.breakpoints-up(tablet){
        align-items: flex-start;
    }
}

.banner_title{
    text-align: center;
    font-size: 5rem;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 2rem;

    @include mixins.breakpoints-up(tablet){
        font-size: 6rem;
    }

}

.title1{
    text-align: center;
    display: block;
    letter-spacing: 2.2rem;
    text-indent: 3.9rem;

    @include mixins.breakpoints-up(tablet){
        display: inline;
        letter-spacing: initial;
        text-indent: initial;
    }
}

.title2{
    color : var(--text-purple-dark);
}

.banner_text{
    text-align: center;
    margin-left: 0.3rem;
    font-size: 1.6rem;
    font-weight: 600;
}
