@use "./mixins";

:root{
  --text-white : #ddd;
  --text-purple-dark : #220779;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html{
  font-size: clamp(10px, 2px + 2vw, 13px);
}

body{
  min-height : 95vh;
  background-image: url("/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
} 
  
a {
  color: inherit;
  text-decoration: none;
}

.btn{
  cursor: pointer;
  border: none;
  padding : 1.3rem 1.7rem;
  transition: .2s all;
  font-weight: 400;
  font-size: 1.3rem;

  &:active{
    transform: translateY(1px);
  }

  &-purple{
    color : var(--text-white);
    background-color: var(--text-purple-dark);

    &:hover{
      background-color: darken(#220779, 10%);
    }
  }
}



