@use "./mixins";

:root{
  --text-white : #ddd;
  --text-purple-dark : #220779;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html{
  font-size: clamp(10px, 2px + 2vw, 13px);
}

body{
  background-image: url("/imgs/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
} 
  
a {
  cursor: pointer !important;
  color: inherit;
  text-decoration: none;
}

.my-3{margin: 3rem 0;}

.mt-2{margin-top: 2rem;}

.heading-secondary{
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.heading-tertiary{
  font-size: 1.8rem;
  color: var(--text-purple-dark);
  font-weight: 700;
  margin-bottom: 1rem;
}

.btn{
  cursor: pointer;
  border: none;
  padding : 1.3rem 1.7rem;
  transition: .2s all;
  font-weight: 400;
  font-size: 1.5rem;
  display: inline-block;

  &:active{
    transform: translateY(1px);
  }

  &-purple{
    color : var(--text-white);
    background-color: var(--text-purple-dark);

    &:hover{
      background-color: darken(#220779, 10%);
    }
  }

  &-transparent{
    background: transparent;
    color: var(--text-purple-dark);
    padding-left: 0;
    padding-bottom: 0;
    font-weight: 700;
  }
}

.glass{
  background: rgba(255, 255, 255, 0.54);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: background .3s;

  &:hover{
    background: rgba(255, 255, 255, 0.8);
  }
}

//Pages

.home-cards{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.coffee-page{
  display: flex;
  gap: 3rem;

  @include mixins.breakpoints-down(mobile){
    flex-direction: column;
  }

  &__img{
    flex: 3 0;
  }

  &__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    flex: 2 0;
    min-width: min(50%, 200px);
  }
}